streamlit
google-generativeai
python-dotenv
ipython
opencv-python-headless
streamlit
pillow
numpy

streamlit
langchain
langchain-community
langchain-core
langchain-openai
mysql-connector-python
groq
langchain-groq
